@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  /* Colors */
  --black: #000000;
  --black-hover: hsl(0, 0%, 20%);
  --white: #fffffe;
  --bg: #0f0e17;
  --bg-alt: #161422;
  --primary: #fed941;
  --primary-hover: hsl(48, 99%, 70%);
  --grey: #a7a9be;
  /* Font */
  --fontPrimary: "Montserrat", sans-serif;
  /* Size fonts */
  --headline1: 700 48px/58px var(--fontPrimary);
  --headline2: 700 46px/56px var(--fontPrimary);
  --headline3: 700 37px/31.5px var(--fontPrimary);
  --headline4: 700 28px/34.13px var(--fontPrimary);
  --headline5: 700 25px/30.48px var(--fontPrimary);
  --body1: 400 18px/27px var(--fontPrimary);
  --body1-bold: 700 18px/27px var(--fontPrimary);
  --body2: 400 16px/22px var(--fontPrimary);
  --body2-bold: 700 16px/22px var(--fontPrimary);
  --button: 700 18px/28px var(--fontPrimary);
  --caption: 400 12px/22px var(--fontPrimary);

  /* Sizes */
  --xs: 0.25rem;
  --sm: 0.5rem;
  --md: 1rem;
  --lg: 1.5rem;
  --xlg: 2rem;
  --xxlg: 2.5rem;

  --h-header: 3.5rem;
  --w-icon: var(--lg);
  --w-icon-sm: var(--md);
  --w-card: 5rem;
  --w-logo: 66.75px;
  --w-spinner: var(--xxlg);
  --gap-col: 0.75rem;
  --gap-row: var(--md);
  --gap-header: var(--lg);
  --p-button: 10px var(--lg);
  --top-card: var(--sm);
  --section: var(--md);
  --w-loader: 40px;
  --border-loader: 4px;
  --w-card-modal: 10rem;
  --w-size: 73rem;
  --h-full: 100vh;
}

@media screen and (min-width: 768px) {
  :root {
    /* Sizes */
    --h-header: 5rem;
    --w-card: 8rem;
    --w-logo: 106.81px;
    --w-spinner: 5rem;
    --gap-col: var(--lg);
    --gap-row: 3rem;
    --top-card: var(--lg);
    --section: 3.5rem;
    --w-loader: 60px;
    --border-loader: 6px;
    --w-card-modal: 15rem;
  }
}
@media screen and (min-width: 992px) {
  :root {
    /* Sizes */
    --h-header: 7rem;
    --gap-header: 3rem;
    --w-card: 13rem;
    --w-loader: 80px;
    --border-loader: 8px;
    --w-card-modal: 18rem;
  }
}

* {
  padding: 0;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  font: var(--body1);
  background-color: var(--bg);
  color: var(--white);
}
h1,
.h1 {
  font: var(--headline1);
}
h2,
.h2 {
  font: var(--headline2);
}
h3,
.h3 {
  font: var(--headline3);
}
svg {
  fill: currentColor;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-inline-size: 100%;
  display: block;
  margin-inline-start: auto;
  margin-inline-end: auto;
}
